<%- include('../partials/header') %>


  <form action="/reviews/<%= review._id %>/edit?_method=PUT" method="POST">
    <label>Comment:</label>
    <textarea name="content" value="<%= review.content %>"></textarea>
    <label>Most Memorable:</label>
    <select name="rating" value="<%= review.rating %>">
      <option value="Graphics">Graphics</option>
      <option value="Music">Music</option>
      <option value="Gameplay">Gameplay</option>
      <option value="Story">Story</option>
    </select>
    <input type="submit" value="Update">
  </form>
  <%- include('../partials/footer') %>